.chat_label {
    -fx-font-size: 15;
    -fx-wrap-text: true;
}

.chat_bubble{
    -fx-background-radius: 5;
    -fx-padding: 5;
}

.root {
    -fx-background-image: url(../images/background.png);
    -fx-background-size: cover;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

#send_button
{
    -fx-background-color: #36a819;
    -fx-background-image: url(../images/arrow.png);
    -fx-background-size: stretch;
}


.reply_button
{
    -fx-background-color: transparent;
    -fx-background-image: url(../images/reply-arrow.png);
    -fx-background-size: cover;
}
